* {
  /* Reset formatações iniciais. */
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12pt;
  font-weight: normal;
  line-height: 1.5rem; /* rem referente a div pai */
}
body {
  /* devido altura da barra fixa */
  padding-top: 5rem;
}

.headerBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  /* flexbox */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1rem;
}

p {
  margin-top: 1rem;
  text-align: justify;
}

.appName {
  font-size: 2rem;
  margin-left: 1rem;
}

.badge {
  border-radius: 0.75rem;
  min-width: 1.3rem;
  text-align: center;
  margin-right: 1rem;
}

.button {
  height: 3rem;
  min-width: 3rem;
  padding: 0.25rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #edf6f9;
  border: thin solid #dce5e8;
  line-height: 1rem;
  color: #000;
}

.button:active {
  background-color: #a6baca;
  border: thin solid #a5a2aa;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
}

.buttonGroup .button {
  flex: 1;
  border-radius: 0;
}

.buttonGroup.end {
  justify-content: flex-end;
}

.buttonGroup .button.half {
  flex: 0.5;
}

.buttonGroup .button.third {
  flex: 0.33;
}

.buttonGroup .button.quarter {
  flex: 0.25;
}

.buttonGroup .button:first-child {
  border-radius: 0.35rem 0 0 0.35rem;
}

.buttonGroup .button:last-child {
  border-radius: 0 0.35rem 0.35rem 0;
}

.buttonGroup .button:first-child:last-child {
  border-radius: 0.35rem 0.35rem 0.35rem 0.35rem;
}

.component {
  padding: 1rem;
}

.navBar {
  position: fixed;
  left: 0;
  /* top: 5rem; */
  width: 100%;
  color: #000;
  background-color: #edf6f9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navBar.fundo {
  bottom: 0;
}

/* navBar que não seja classe fundo */
.navBar:not(.fundo) ~ * {
  /* próximo elemento adjacente ou irmão ou mesmo nível de navBar recebe */
  margin-top: 4rem;
}

.navBar .buttonGroup {
  flex: 1;
}

.navBar .button {
  height: 4rem;
}

.navBar .buttonGroup .button:first-child,
.navBar .buttonGroup .button:last-child {
  /* Anular efeito bordas nos botões de navegação */
  border-radius: 0;
}

.hidden {
  display: none;
}

.field {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.field label {
  margin-right: 1rem;
}

.field label.fixed{
  width: 5rem;
} 

/* .field label.half {
  flex: 1;
}

.field label.third {
  flex: 0.5rem;
}

.field label.quater {
  flex: 0.33rem; // 0.33 +1.00 (input) =1.33 /4 = 0.33 
}

.field label.fifth {
  flex: 0.25rem;
} */

.field input {
  flex: 1;
  height: 2rem;
  padding: 0.3rem 0.7rem;
  color: #000;
  background-color: #fff;
  border: thin solid #a8dadc;
  border-radius: 0.35rem;
}

.field input.valid {
  border: thin solid #2a9d8f;
}

.field input.invalid {
  border: thin solid #ef233c;
}

/* Cores */
.active {
  color: #000;
  background-color: #a8dadc;
  border: thin solid #92d2d4;
}

.active:active {
  background-color: #235a8b;
  border: thin solid #124a7a;
}

.primary {
  color: #fff;
  background-color: #457b9d;
  border: thin solid #346a8c;
}

.primary:active {
  background-color: #235a8b;
  border: thin solid #124a7a;
}

.secondary {
  color: #000;
  background-color: #cddfeb;
  border: thin solid #bcceda;
}

.secondary:active {
  background-color: #abbdca;
  border: thin solid #aaaaca;
}

.success {
  color: #fff;
  background-color: #2a9d8f;
  border: thin solid #198c7e;
}

.success:active {
  background-color: #0a7b6d;
  border: thin solid #0a6a5c;
}

.warning {
  color: #000;
  background-color: #ffd166;
  border: thin solid #eec055;
}

.warning:active {
  background-color: #ddb844;
  border: thin solid #cca622;
}

.danger {
  color: #fff;
  background-color: #e63946;
  border: thin solid #d52835;
}

.danger:active {
  background-color: #c41704;
  border: thin solid #cc1b07;
}

.light {
  color: #000;
  background-color: #a8dadc;
  border: thin solid #92d2d4;
}

.light:active {
  background-color: #a6baca;
  border: thin solid #a5a2aa;
}

.dark {
  color: #fff;
  background-color: #1d3557;
  border: thin solid #0c2446;
}

.dark:active {
  background-color: #1b1446;
  border: thin solid #1b1224;
}

/* classe para espaçamento */
.mt1 {
  margin-top: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.mt3 {
  margin-top: 3rem;
}

.mt4 {
  margin-top: 4rem;
}
