
.container h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#calculadora {
  /* Para fixar o tamanho da calculadora */
  width: 22rem;
}


#calculadora .card-header {
    background-color: rgb(44, 43, 43);
 /*  background-color: rgb(184, 207, 171); */
}
#display{
    background-color: rgb(184, 207, 171);
    padding: 12px;
    border-radius: 20%;
}

#calculadora .card-body {
  background-color: rgb(44, 43, 43);
}

#calculadora button {
  margin: 5px;
  width: 50px;
}


#calculadora #display {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20pt;
}

#calculdora .button-texto {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16pt;
}
